<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div>
      <a class="navbar-brand" routerLink="" routerLinkActive="active">
        <img src="../../../assets/img/lista-logo.jpg" alt="" width="30" height="34">
        Cursos Empresariales
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="" routerLinkActive="active">Incio</a>
        </li>
        



      <div *ngIf="user; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>
        <button class="btn btn-outline-primary" (click)="cerrarSesion()" routerLink="" type="submit">
          Cerrar Sesion
        </button>
      </ng-template>
    </ul>

      <ng-template #elseBlock>
        <button class="btn btn-outline-secundary" routerLink="/register" type="submit">Registrase</button>
        <button class="btn btn-outline-primary" routerLink="/login" type="submit">Ingresar</button>
      </ng-template>

    </div>
  </div>
</nav>
