<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="container">
      <a class="navbar-brand" routerLink="" routerLinkActive="active">
        <img src="../../../assets/img/lista-logo.jpg" alt="" width="30" height="34">
        Cursos Empresariales
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="" routerLinkActive="active">Incio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/servicios" routerLinkActive="active">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/servicios"
            routerLinkActive="active">Contactenos</a>
        </li>



      <div *ngIf="user; then thenBlock else elseBlock"></div>
      <ng-template #thenBlock>



            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                {{usuario.nombre}}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                <li><a class="dropdown-item" routerLink="/typeUser">tipo Usuario</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" routerLink="/servxUser">Ofecer Servicios</a></li>
                <li><a class="dropdown-item" routerLink="/eventxUser">Consulta tus Eventos</a></li>
              </ul>
            </li>



            <button class="btn btn-outline-primary" (click)="cerrarSesion()" routerLink="" type="submit">Cerrar
              sesion</button>
      </ng-template>
    </ul>

      <ng-template #elseBlock>
        <button class="btn btn-outline-secundary" routerLink="/register" type="submit">Registrase</button>
        <button class="btn btn-outline-primary" routerLink="/login" type="submit">Ingresar</button>
      </ng-template>

    </div>
  </div>
</nav>
