<div class="container">

    <div class="row">
      <div class="s12 m4 l8 ">
        <h2 class="header">Acceder</h2>
        <div class="card horizontal">
          <div class="card-content">
            <form>
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" #user="ngModel" maxlength="10" name="usuario"
                  [(ngModel)]="usuario.identificacion" placeholder="Documento de Identidad" required>
                <label for="floatingInput">Documento de Identidad</label>
                <div *ngIf="user.invalid && (user.dirty || user.touched)">
                  <div id="emailHelp" class="form-text">Recuerda que es el documento de identidad</div>
                </div>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" maxlength="30" id="floatingPassword" name="password"
                  [(ngModel)]="usuario.contrasena" placeholder="Contraseña">
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
              </div>
              <br>
              <div class="card-action">
                <button type="submit" class="btn btn-primary" (click)="login()">Ingresar</button>
                <button type="submit" class="btn btn-outline-secundary" [routerLink]="['/getPassword']">Olvidasta
                  la Contraseña?</button>
              </div>
            </form>
  
          </div>
  
        </div>
      </div>
    </div>