<div class="container p-5">
    <div>
        <h3>Bienvenido {{usuario.nombre}}</h3>
    </div>
    <div class="container p-3">
        

        <div class="row p-3">
            <div class="col">
              <button type="button" class="btn btn-primary" routerLink="/curso">
                  Crear Curso
              </button>
            </div>
        </div>
        <h4>Lista de Cursos</h4>
        <div class="row g-3 p-3">
            <div class=" col-md-4" *ngFor="let curso of cursos">
              <div class="card-group">
                <div class="card text-white bg-secondary" style="width: 18rem;">
                  <!--<img [src]="user.imagenServicio" class="card-img-top" alt="..."><img>-->
        
                  <div class="card-body">
                    <h5 class="card-title">{{curso.nombreCurso}}</h5>
                    <p class="card-text">{{curso.objetivo}}</p>
                    <p class="card-text">{{curso.precio}}</p>
                   <!-- <div *ngIf="user; then thenBlock else elseBlock"></div>
                    <ng-template #thenBlock>
                        <button class="btn btn-info" (click)="guardar(card)" >Seleccionar</button>
                    </ng-template>
                    <ng-template #elseBlock>
                      <a [routerLink]="['/verServicio',card.idServicio]" class="btn btn-primary">Datos</a>
                    </ng-template>
                -->
        
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
